/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

 #include <behaviors.dtsi>
 #include <dt-bindings/zmk/keys.h>
 #include <locale/keys_de.h>
 #include <dt-bindings/zmk/bt.h>
 #include <dt-bindings/zmk/ext_power.h>
 #include <dt-bindings/zmk/outputs.h>

 #define TEST_LAYER
 #undef TEST_LAYER

 #define DEFAULT   0
 #define LOWER     1
 #define RAISE     2
 #define ADJUST    3
 #define F_KEYS    4
 #define SYMBOLS_L 5
 #define SYMBOLS_R 6
 #define NAVNUM    7

 #define DE_AE (DE_A_UMLAUT)
 #define DE_OE (DE_O_UMLAUT)
 #define DE_UE (DE_U_UMLAUT)


/ {
    combos {
      compatible = "zmk,combos";
      combo_bootloader {
        timeout-ms = <100>;
        key-positions = <0 1 2>;
        bindings = <&bootloader>;
      };
    };
    keymap {
      compatible = "zmk,keymap";
#ifdef TEST_LAYER
      default_layer {
        display-name = "Default Layer";
        bindings = <
          &kp N1  &kp N2  &kp N3   &kp N4   &kp N5    &kp N6                            &kp N7    &kp N8    &kp N9    &kp N0     &kp A  &kp B
          &kp C   &kp D   &kp E    &kp F    &kp G     &kp H                             &kp I     &kp J     &kp K     &kp L      &kp M  &kp N
          &kp O   &kp P   &kp Q    &kp R    &kp S     &kp T                             &kp U     &kp V     &kp W     &kp X      &kp Y  &kp Z
          &kp A     &kp B                             &kp C     &kp D
        >;
      };
#else
      neo_layer {
        display-name = "NEO2";
        bindings = <
          &lt F_KEYS TAB     &kp X      &kp V      &kp L       &kp C       &kp W         /* */    &kp K &kp H  &kp G     &kp F    &kp Q     &kp BSPC
          &lt SYMBOLS_L ESC  &mt LGUI U &mt LALT I &mt LCTRL A &mt LSHFT E &kp O         /* */    &kp S &kp N  &kp R     &kp T    &kp D     &lt SYMBOLS_R DE_Y
          &kp LSHFT          &kp DE_UE  &kp DE_OE  &kp DE_AE   &kp P       &kp DE_Z      /* */    &kp B &kp M  &kp COMMA &kp DOT  &kp J     &kp DE_SZ
                                                      &kp SPACE   &kp BSPC      /* */    &kp SPACE  &kp LEFT
        >;
      };

      neo_lower {
        display-name = "NEO2-Lower";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_raise {
        display-name = "NEO2-Raise";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_adjust {
        display-name = "NEO2-Adjust";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_f_keys {
        display-name = "NEO2-F Keys";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &kp F7 &kp F8 &kp F9 &kp F10 &kp F11
          &trans &trans &trans &trans &trans &trans  /* */   &trans &kp F4 &ko F5 &kp F6 &kp F12 &kp F13
          &trans &trans &trans &trans &trans &trans  /* */   &trans &kp F1 &kp F2 &kp F3 &trans  &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_symbols_l {
        display-name = "NEO2-Symbols L";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_symbols_r {
        display-name = "NEO2-Symbols R";
        bindings = <
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
          &trans &trans &trans &trans &trans &trans  /* */   &trans &trans &trans &trans &trans &trans
                                      &trans &trans  /* */   &trans &trans
        >;
      };

      neo_navnum {
        display-name = "NEO2-NavNum";
        bindings = <
       /*┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐ ┌─────────┬─────────┬─────────┬─────────┬─────────┬─────────┐*/
           &trans    &trans    &trans    &trans    &trans    &trans      &trans    &kp N7    &kp N8    &kp N9    &trans    &trans
       /*├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤*/
           &trans    &trans    &trans    &trans    &trans    &trans      &trans    &kp N4    &kp N5    &kp N6    &trans    &trans
       /*├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┼─────────┼─────────┼─────────┤*/
           &trans    &trans    &trans    &trans    &trans    &trans      &trans    &kp N1    &kp N2    &kp N3    &trans    &trans
       /*└─────────┴─────────┴─────────┴─────────┼─────────┼─────────┤ ├─────────┼─────────┼─────────┴─────────┴─────────┴─────────┘*/
                                                   &trans    &trans      &trans    &trans
       /*                                        └─────────┴─────────┘ └─────────┴─────────┘*/
        >;
      };
#endif // TEST_LAYER

      /*
      neo_layer {
        bindings = <
          &kp TAB   &kp X    &kp V    &kp L    &kp C    &kp W                 &kp K     &kp H  &kp G     &kp F    &kp Q    &kp LBKT
          &kp CLCK  &kp U    &kp I    &kp A    &kp E    &kp O                     &kp S     &kp N  &kp R     &kp T    &kp D    &kp SQT
          &kp LSHFT &kp LBKT &kp SEMI &kp SQT  &kp P    &kp Z   &kp PG_DN &kp HOME &kp B     &kp M  &kp COMMA &kp DOT  &kp J    &mo ADJUST
          &kp LCTRL &kp LGUI &kp LALT &kp RALT     &kp SPACE   &kp BSPC  &kp DEL   &kp ESC        &kp SPACE  &kp LEFT  &kp DOWN &kp UP   &kp RIGHT
        >;
      };
      */

/*              default_layer {
  display-name = "Default Layer";
  // ---------------------------------------------------------------------------------------------------------------------------------
  // | GRAVE  |   1    |   2    |   3    |   4    |   5    |                                      |   6    |   7    |   8    |   9    |   0    |  DEL   |
  // |  TAB   |   Q    |   W    |   E    |   R    |   T    |                                      |   Y    |   U    |   I    |   O    |   P    |  BSPC  |
  // |  CTRL  |   A    |   S    |   D    |   F    |   G    |                                      |   H    |   J    |   K    |   L    |   ;    |   '    |
  // |  SHIFT |   Z    |   X    |   C    |   V    |   B    |  LBKT  |                    |  RBKT  |   N    |   M    |   ,    |   .    |   /    |  RET   |
  // | ADJUST |  ESC   |  ALT   |  LGUI  | EISUU  | LOWER  | SPACE  |                    |  SPACE | RAISE  |  KANA  |  LEFT  |  DOWN  |  UP    |  RIGHT |
  bindings = <
    &kp GRAVE  &kp N1  &kp N2   &kp N3   &kp N4    &kp N5                               &kp N6    &kp N7    &kp N8    &kp N9     &kp N0    &kp DEL
    &kp TAB    &kp Q   &kp W    &kp E    &kp R     &kp T                                &kp Y     &kp U     &kp I     &kp O      &kp P     &kp BSPC
    &kp LCTRL  &kp A   &kp S    &kp D    &kp F     &kp G                                &kp H     &kp J     &kp K     &kp L      &kp SEMI  &kp SQT
    &kp LSHFT  &kp Z   &kp X    &kp C    &kp V     &kp B     &kp LBKT         &kp RBKT  &kp N     &kp M     &kp COMMA &kp PERIOD &kp SLASH &kp RET
    &mo ADJUST &kp ESC &kp LALT &kp LGUI &kp LANG2 &mo LOWER &kp SPACE        &kp SPACE &mo RAISE &kp LANG1 &kp LEFT  &kp DOWN   &kp UP    &kp RIGHT
  >;
};*/

/*
lower_layer {
  display-name = "Lower Layer";
  // ---------------------------------------------------------------------------------------------------------------------------------
  // |      |      |      |      |      |      |                                  |      |      |      |      |      |      |
  // |  ~   |  !   |  @   |  #   |  $   |  %   |                                  |  ^   |  &   |  *   |  (   |  )   |      |
  // |      |      |      |      |      |      |                                  |      |  _   |  +   |  {   |  }   | PIPE |
  // |      |      |      |      |      |      |  (   |                    |  )   |      |      |      | HOME | END  |      |
  // |      |      |      |      |      |      |      |                    |      |      |      |      |      |      |      |
  bindings = <
    &trans    &trans   &trans &trans   &trans   &trans                             &trans    &trans    &trans    &trans   &trans   &trans
    &kp TILDE &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT                          &kp CARET &kp AMPS  &kp ASTRK &kp LPAR &kp RPAR &trans
    &trans    &trans   &trans &trans   &trans   &trans                             &trans    &kp UNDER &kp PLUS  &kp LBRC &kp RBRC &kp PIPE
    &trans    &trans   &trans &trans   &trans   &trans    &kp LPAR        &kp RPAR &trans    &trans    &trans    &kp HOME &kp END  &trans
    &trans    &trans   &trans &trans   &trans   &trans    &trans          &trans   &trans    &trans    &trans    &trans   &trans   &trans
  >;
};
raise_layer {
  display-name = "Raise Layer";
  // ---------------------------------------------------------------------------------------------------------------------------------
  // |       |       |       |       |       |       |                                    |       |       |       |       |       |       |
  // |   `   |   1   |   2   |   3   |   4   |   5   |                                    |   6   |   7   |   8   |   9   |   0   |  DEL  |
  // |       |  F1   |  F2   |  F3   |  F4   |  F5   |                                    |  F6   |   -   |   =   |   [   |   ]   |   \   |
  // |       |  F7   |  F8   |  F9   |  F10  |  F11  |       |                    |       |  F12  |       | PSCRN | PG_DN | PG_UP |       |
  // |       |       |       |       |       |       |       |                    |       |       |       | NEXT  | VOL-  | VOL+  | PLAY  |
  bindings = <
    &trans    &trans &trans &trans &trans  &trans                       &trans  &trans    &trans     &trans       &trans       &trans
    &kp GRAVE &kp N1 &kp N2 &kp N3 &kp N4  &kp N5                       &kp N6  &kp N7    &kp N8     &kp N9       &kp N0       &kp DEL
    &trans    &kp F1 &kp F2 &kp F3 &kp F4  &kp F5                       &kp F6  &kp MINUS &kp EQUAL  &kp LBKT     &kp RBKT     &kp BSLH
    &trans    &kp F7 &kp F8 &kp F9 &kp F10 &kp F11 &trans        &trans &kp F12 &trans    &kp PSCRN  &kp PG_DN    &kp PG_UP    &trans
    &trans    &trans &trans &trans &trans  &trans  &trans        &trans &trans  &trans    &kp C_NEXT &kp C_VOL_DN &kp C_VOL_UP &kp C_PP
  >;
};
adjust_layer {
  display-name = "Adjust Layer";
  // ---------------------------------------------------------------------------------------------------------------------------------
  // |    `     |    !     |    @     |    #     |    $     |    %     |                                          |    ^     |    &     |    *     |    (     |    )     |  EP TOG  |
  // |  BT CLR  | BT SEL0  | BT SEL1  | BT SEL2  | BGT SEL3 | BT SEL4  |                                          | RGB EFF+ | RGB HUE+ | RGB SAT+ | RGB SPD+ | RGB BRI+ | RGB TOG  |
  // |  BT NXT  | OUT TOG  | OUT USB  | OUT BLE  |          |          |                                          | RGB EFF- | RGB HUE- | RGB SAT- | RGB SPD- | RGB BRI- |          |
  // |  BT PRV  |          |          |          |          |          |    {     |                    |    }     |          |          |          |          |          |          |
  // |          |          |          |          |          |          |          |                    |          |          |          |          |          |          |          |
  bindings = <
    &kp GRAVE  &kp EXCL     &kp AT       &kp HASH     &kp DLLR     &kp PRCNT                             &kp CARET       &kp AMPS        &kp ASTRK       &kp LPAR        &kp RPAR        &ext_power EP_TOG
    &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3 &bt BT_SEL 4                          &rgb_ug RGB_EFF &rgb_ug RGB_HUI &rgb_ug RGB_SAI &rgb_ug RGB_SPI &rgb_ug RGB_BRI &rgb_ug RGB_TOG
    &bt BT_NXT &out OUT_TOG &out OUT_USB &out OUT_BLE &trans       &trans                                &rgb_ug RGB_EFR &rgb_ug RGB_HUD &rgb_ug RGB_SAD &rgb_ug RGB_SPD &rgb_ug RGB_BRD &trans
    &bt BT_PRV &trans       &trans       &trans       &trans       &trans       &kp LBRC        &kp RBRC &trans          &trans          &trans          &trans          &trans          &trans
    &trans     &trans       &trans       &trans       &trans       &trans       &trans          &trans   &trans          &trans          &trans          &trans          &trans          &trans
  >;
};
*/
    };
};
